@{
    ViewData["Title"] = "Index";
}

<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <br />
    <h2>Order Item</h2>
    <br />
    <table style="background-color:darkseagreen">
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.Quantity</td>
            </tr>
        }
    </table>

</body>
</html>




